<div
  class="w-full max-w-md bg-white rounded-xl shadow-md overflow-hidden border border-gray-100"
>
  <!-- Header -->
  <!-- Dados
- Id
- Status
- Botao de ações -->
  <div class="px-6 py-2 bg-blue-50 flex justify-between items-center">
    <div class="flex items-center space-x-2">
      <span class="text-gray-600 font-medium text-sm"
        >ID: {{ id.toString() }}</span
      >
      <div *ngIf="status" class="flex items-center">
        <span
          class="inline-block h-2 w-2 rounded-full bg-green-500 mr-1"
        ></span>
        <span class="text-sm font-medium text-green-600">Ativo</span>
      </div>
      <div *ngIf="status === false" class="flex items-center">
        <span class="inline-block h-2 w-2 rounded-full bg-red-500 mr-1"></span>
        <span class="text-sm font-medium text-red-600">Desativado</span>
      </div>
    </div>

    <!-- Botao de ações -->
    <div class="relative">
      <button
        (click)="toggleOptions()"
        class="p-1 rounded-full hover:bg-gray-200 transition-colors"
      >
        <lucide-angular
          [img]="MoreHorizontal"
          class="text-black/40"
          [size]="18"
        ></lucide-angular>
      </button>

      <!-- Caso o toggleOptions for true ele mostrara esse componente -->
      <div
        *ngIf="showOptions"
        class="absolute right-0 mt-1 w-48 bg-white rounded-md shadow-lg z-10 border border-gray-100"
      >
        <div class="py-1">
          <button
            class="flex items-center px-4 py-2 text-sm text-black/60 hover:bg-gray-100 w-full text-left"
            (click)="EditFunction()"
          >
            <lucide-angular
              [img]="Edit"
              class="text-black/60"
              [size]="18"
            ></lucide-angular>
            <span *ngIf="isPatient" class="font-semibold ml-1"
              >Editar Paciente</span
            >
            <span *ngIf="isMedical" class="font-semibold ml-1"
              >Editar Médico</span
            >
          </button>
          <button
            *ngIf="isPatient"
            class="flex items-center px-4 py-2 text-sm text-black/60 hover:bg-gray-100 w-full text-left"
            (click)="ScheduleFunction()"
          >
            <lucide-angular
              [img]="Calendar"
              class="text-black/60"
              [size]="18"
            ></lucide-angular>
            <span class="font-semibold ml-1">Agendar Consulta</span>
          </button>
          <button
            class="flex items-center px-4 py-2 text-sm text-red-600 hover:bg-gray-100 w-full text-left"
            (click)="showModal()"
          >
            <lucide-angular
              [img]="Trash2"
              class="text-black/60"
              [size]="18"
            ></lucide-angular>
            <span *ngIf="isPatient === true" class="font-semibold ml-1"
              >Remover Paciente</span
            >
            <span *ngIf="isMedical === true" class="font-semibold ml-1"
              >Remover Medico</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  <ChangeStatusProfile
    *ngIf="isModal"
    (closed)="showModal()"
  ></ChangeStatusProfile>

  <!-- Profile -->
  <!-- Imagem de perfil do paciente -->
  <div class="flex justify-center py-3 bg-blue-50">
    <div class="relative">
      <div
        class="h-32 w-32 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden border-4 border-white shadow-sm"
      >
        <lucide-angular
          [img]="User"
          class="text-black/50 hover:text-blue-primary"
          [size]="54"
        ></lucide-angular>
      </div>
      <!-- Botao de edição da foto do paciente -->
      <button
        class="absolute bottom-0 right-4 bg-white p-1 rounded-full text-white shadow-md"
        (click)="ChangePictureFunction()"
      >
        <lucide-angular
          [img]="Edit"
          class="text-black/50 hover:text-blue-primary"
          [size]="22"
        ></lucide-angular>
      </button>
    </div>
  </div>

  <!-- Dados 
 
Informações basica mostradas
-->
  <div class="px-6 py-4 space-y-4">
    <div>
      <h3 class="text-lg font-semibold text-gray-800">
        {{ name }}
      </h3>
    </div>

    <div class="space-x-3 flex flex-row">
      <div class="flex items-start">
        <div
          class="flex-shrink-0 h-8 w-8 rounded-full flex items-center justify-center"
        >
          <lucide-angular
            [img]="FileText"
            class="text-black/40 hover:text-blue-primary"
            [size]="18"
          ></lucide-angular>
        </div>
        <div *ngIf="isMedical === true" class="ml-3">
          <p class="text-xs text-gray-500">CRM</p>
          <p class="text-sm font-medium text-gray-800">{{ crm }}</p>
        </div>
        <div *ngIf="isPatient === true" class="ml-3">
          <p class="text-xs text-gray-500">CPF</p>
          <p class="text-sm font-medium text-gray-800">{{ cpf }}</p>
        </div>
      </div>

      <div class="flex items-start">
        <div
          class="flex-shrink-0 h-8 w-8 rounded-full flex items-center justify-center"
        >
          <lucide-angular
            [img]="Phone"
            class="text-black/40 hover:text-blue-primary"
            [size]="18"
          ></lucide-angular>
        </div>
        <div class="ml-3">
          <p class="text-xs text-gray-500">Telefone</p>
          <p class="text-sm font-medium text-gray-800">{{ phone }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Final do Card -->
  <div class="px-6 py-3 bg-gray-50 flex justify-between items-center">
    <button
      class="text-sm text-blue-600 hover:text-blue-800 font-medium flex items-center"
    >
      <lucide-angular
        [img]="ShieldCheck"
        class="text-black/40 hover:text-blue-primary"
        [size]="18"
      ></lucide-angular>
      <span class="text-xs text-gray-500">Criado em : {{ updateat }}</span>
    </button>
  </div>
</div>
