<div
  class="flex items-center justify-between p-2 border-2 rounded-lg border-black/10 shadow-[0_0_4px_rgba(0,0,0,0.25)] mt-2"
>
  <div class="flex items-center">
    <span class="ml-1 text-base font-semibold text-black/50">
      {{ notion.message }}
    </span>
  </div>
  <button
    class="text-black/70 hover:text-blue-primary rounded-full p-1"
    aria-label="Voltar"
    (click)="showModal()"
  >
    <lucide-angular [img]="Trash" [size]="24"></lucide-angular>
  </button>
</div>
<app-delete-notion *ngIf="isModal === true" (closed)="showModal()" [index]="index"></app-delete-notion>
