<body class="flex h-screen">
  <!-- Lado esquerdo - Agendamentos -->
  <section class="w-1/2 flex justify-center items-start">
    <article
      class="bg-white w-full h-2/3 mr-11 ml-11 mt-10 p-8 rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.25)]"
    >
      <header class="flex flex-row mb-4">
        <lucide-angular
          [img]="NotebookPen"
          class="text-blue-primary"
          [size]="24"
        ></lucide-angular>
        <h2 class="font-medium text-base ml-1 text-black/50">Agendamentos</h2>
      </header>

      <!-- Lista de agendamentos do dia -->
      <ul>
        <li *ngFor="let appointment of appointments; let i = index">
          <div
            class="flex items-center justify-between p-2 border-2 rounded-lg border-black/10 shadow-[0_0_4px_rgba(0,0,0,0.25)] mt-2"
          >
            <div class="flex items-center">
              <lucide-angular
                [img]="Clock"
                class="text-blue-primary"
                [size]="24"
              ></lucide-angular>
              <time class="ml-3 text-base font-semibold text-black/50">
                {{ appointment.time }}
              </time>
            </div>
            <button
              class="text-black/70 rounded-full p-1 transition-transform duration-300"
              (click)="toggleDetails(i)"
              aria-label="Expandir"
            >
              <lucide-angular
                [img]="expandedIndex === i ? ChevronDown : ChevronLeft"
                [size]="24"
                [class.rotate-180]="expandedIndex === i"
              >
              </lucide-angular>
            </button>
          </div>

          <!-- Container que aparece ao clicar -->
          <div
            *ngIf="expandedIndex === i"
            class="p-4 bg-gray-100 rounded-lg mt-2 shadow"
          >
            <p class="text-sm text-gray-600">
              Detalhes do agendamento de {{ appointment.time }}
            </p>
          </div>
        </li>
      </ul>
    </article>
  </section>

  <!-- Lado direito - Conteúdo adicional -->
  <aside class="w-1/2 flex flex-col items-start mt-10 mr-11">
    <!-- Anotações -->
    <div class="w-full h-2/4 rounded-lg p-8 shadow-[0_0_8px_rgba(0,0,0,0.25)]">
      <!-- Titulo -->
      <div class="flex items-start justify-between m-0">
        <div class="flex items-center">
          <lucide-angular
            [img]="Pin"
            class="text-blue-primary"
            [size]="24"
          ></lucide-angular>
          <h2 class="text-base ml-2 font-semibold text-black/50 leading-none">
            Anotações
          </h2>
        </div>
        <button
          class="text-black/70 mr-2.5 p-1 hover:text-blue-primary"
          aria-label="Voltar"
        >
          <lucide-angular [img]="Plus" [size]="24"></lucide-angular>
        </button>
      </div>

      <!-- Conteudo -->
      <ul>
        <li *ngFor="let notion of notions">
          <div
            class="flex items-center justify-between p-2 border-2 rounded-lg border-black/10 shadow-[0_0_4px_rgba(0,0,0,0.25)] mt-2"
          >
            <div class="flex items-center">
              <span class="ml-1 text-base font-semibold text-black/50">
                {{ notion.message }}
              </span>
            </div>
            <button
              class="text-black/70 hover:text-blue-primary rounded-full p-1"
              aria-label="Voltar"
            >
              <lucide-angular [img]="Trash" [size]="24"></lucide-angular>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </aside>
</body>
