<body class="flex flex-col mt-10 md:mt-0 md:flex-row h-full md:h-screen">
  <!-- Lado esquerdo - Agendamentos -->
  <section
    class="w-auto md:w-1/2 flex justify-center md:justify-start items-start"
  >
    <article
      class="bg-white w-full h-auto mr-3 md:mr-11 ml-3 md:ml-11 mt-5 md:mt-10 p-4 md:p-8 rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.25)]"
    >
      <IconHeader [Icon]="NotebookPen" Title="Agendamentos"></IconHeader>

      <!-- Lista de agendamentos do dia -->
      <ul class="flex flex-col items-center md:items-start">
        <li
          *ngFor="let appointment of appointments; let i = index"
          class="w-full"
        >
          <div
            class="flex items-center justify-between p-2 border-2 rounded-lg border-black/10 shadow-[0_0_4px_rgba(0,0,0,0.25)] mt-2"
          >
            <div class="flex items-center">
              <lucide-angular
                [img]="Clock"
                class="text-blue-primary"
                [size]="24"
              ></lucide-angular>
              <time class="ml-3 text-base font-semibold text-black/50">
                {{ appointment.time }}
              </time>
            </div>
            <button
              class="text-black/70 rounded-full p-1 transition-normal duration-300 ease-in-out"
              [class.-rotate-90]="isOpen === i"
              aria-label="Expandir"
              (click)="showInfo(i)"
            >
              <lucide-angular
                [img]="ChevronLeft"
                class="text-black/50"
                [size]="32"
              ></lucide-angular>
            </button>
          </div>
          <!-- Container que aparece ao clicar -->
          <div
            *ngIf="isOpen === i"
            class="p-4 bg-gray-100 flex flex-col rounded-lg mt-2 shadow transition-all"
          >
            <div class="flex flex-col md:flex-row md:justify-between p-2">
              <span class="text-base text-black/60 font-semibold">
                Paciente : {{ appointment.paciente }}
              </span>
              <span class="text-base text-black/60 font-semibold">
                Telefone : {{ appointment.telefone }}
              </span>
            </div>
            <div class="flex flex-col md:flex-row md:justify-between p-2">
              <span class="text-base text-black/60 font-semibold">
                Tipo Consulta : {{ appointment.tipoConsulta }}
              </span>
              <span class="md:mr-10 text-base text-black/60 font-semibold">
                Valor Total : {{ appointment.valorTotal.toFixed(2) }}
              </span>
            </div>
          </div>
        </li>
      </ul>
    </article>
  </section>

  <!-- Lado direito - Conteúdo adicional -->
  <aside
    class="w-full md:w-1/2 flex items-start mt-5 md:mt-10 ml-3 md:ml-0 md:mr-10"
  >
    <div
      class="w-full h-auto rounded-lg p-4 md:p-8 shadow-[0_0_8px_rgba(0,0,0,0.25)] mr-6 md:mr-0"
    >
      <!-- titulo -->
      <div class="flex items-start justify-between m-0">
        <IconHeader [Icon]="Pin" Title="Anotações"></IconHeader>
        <button
          class="text-black/70 mr-2.5 p-1 hover:text-blue-primary"
          aria-label="Voltar"
        >
          <lucide-angular [img]="Plus" [size]="24"></lucide-angular>
        </button>
      </div>

      <!-- Conteudo -->
      <ul class="flex flex-col items-center">
        <li *ngFor="let notion of notions; let i = index" class="w-full">
          <!-- Messagens de Anotações -->
          <NotionRow [notion]="notion" [index]="i"></NotionRow>
        </li>
      </ul>
    </div>
  </aside>
</body>
