<main class="relative">
  <div
    class="absolute w-screen flex justify-start items-center"
    *ngIf="isMobile"
  >
    <button
      class="transition-transform mt-1 duration-300"
      (click)="toggleSidebar()"
    >
      <!-- Ícone aberto -->
      <lucide-angular
        [img]="MenuIcon"
        class="absolute left-2 transition-opacity duration-300 ease-in-out"
        [class.opacity-100]="!isCollapsed"
        [class.opacity-0]="isCollapsed"
        [size]="32"
      ></lucide-angular>

      <!-- Ícone fechado -->
      <lucide-angular
        [img]="MenuIconClose"
        class="absolute left-2 transition-opacity duration-300 ease-in-out"
        [class.opacity-100]="isCollapsed"
        [class.opacity-0]="!isCollapsed"
        [size]="32"
      ></lucide-angular>
    </button>
  </div>

  <aside
    class="flex flex-col border-r border-gray-300 md:shadow-[0_0_8px_rgba(0,0,0,0.20)] h-full md:h-screen transition-all duration-300 ease-initial md:duration-500 mb-8"
    [class.w-[296px]]="!isCollapsed"
    [class.w-[80px]]="isCollapsed"
    [class.fixed]="isMobile"
    [class.mt-10]="isMobile"
    [class.bg-white]="isMobile"
    [class.-translate-x-full]="isMobile && !isCollapsed"
  >
    <header
      class="mt-8 flex items-center justify-center relative transition-opacity duration-300"
      [style.opacity]="isCollapsed ? '0' : '1'"
    >
      <logo *ngIf="!isMobile"></logo>
    </header>

    <button
      *ngIf="!isMobile"
      class="absolute top-10 w-10 h-10 flex items-center justify-center rounded-full bg-white shadow-lg transition-all duration-500"
      [ngClass]="isCollapsed ? 'left-[60px]' : 'left-[275px]'"
      (click)="toggleSidebar()"
    >
      <lucide-angular
        [img]="ArrowBigLeft"
        class="text-black/50 transition-transform duration-500"
        [size]="32"
        [class.rotate-180]="isCollapsed"
      ></lucide-angular>
    </button>

    <!-- Itens da SideBar -->
    <nav
      class="mx-3 font-primary flex flex-col justify-between flex-grow"
    >
      <ng-container *ngFor="let section of sections">
        <p
          class="text-[14px] text-black/30 font-bold md:mt-5"
          [class.hidden]="isCollapsed || isMobile"
        >
          {{ section.title }}
        </p>

        <MenuButton
          class="w-full"
          *ngFor="let item of section.items"
          [buttonText]="isCollapsed ? '' : item.text"
          [icon]="item.icon"
          [routerLink]="[item.route]"
          [isCollapsed]="isCollapsed"
          (click)="isMobile && toggleSidebar()"
        ></MenuButton>
      </ng-container>

      <footer
        class="flex items-baseline justify-baseline mt-auto mb-13 md:mb-7"
      >
        <MenuButton
          class="w-full"
          [buttonText]="isCollapsed ? '' : 'Sair'"
          [icon]="LogOut"
          routerLink="/"
          [isCollapsed]="isCollapsed"
          (click)="isMobile && toggleSidebar()"
        ></MenuButton>
      </footer>
    </nav>
  </aside>
</main>