<main class="relative">
  <div
    class="fixed w-screen h-10 flex justify-start items-center bg-white shadow-lg"
    *ngIf="isMobile"
  >
    <button class="pl-2 transition-all duration-500" (click)="toggleSidebar()">
      <lucide-angular
        [img]="MenuIcon"
        class="text-black/50 transition-transform duration-300"
        [size]="32"
      ></lucide-angular>
    </button>
  </div>

  <aside
    class="flex flex-col shadow-[0_0_8px_rgba(0,0,0,0.25)] h-full md:h-screen transition-all duration-500 mb-8"
    [class.w-[296px]]="!isCollapsed"
    [class.w-[80px]]="isCollapsed"
    [class.fixed]="isMobile"
    [class.mt-10]="isMobile"
    [class.bg-white]="isMobile"
    [class.-translate-x-full]="isMobile && !isCollapsed"
  >
    <header class="mt-8 flex items-center justify-center relative">
      <logo-component *ngIf="!isCollapsed"></logo-component>
    </header>

    <button
      *ngIf="!isMobile"
      class="absolute top-10 w-10 h-10 flex items-center justify-center rounded-full bg-white shadow-lg transition-all duration-500"
      [ngClass]="isCollapsed ? 'left-[60px]' : 'left-[275px]'"
      (click)="toggleSidebar()"
    >
      <lucide-angular
        [img]="ArrowBigLeft"
        class="text-black/50 transition-transform duration-300"
        [size]="32"
        [class.rotate-180]="isCollapsed"
      ></lucide-angular>
    </button>

    <!-- Itens da SideBar -->
    <nav
      class="mx-3 font-primary flex flex-col justify-between flex-grow"
      [ngClass]="isCollapsed ? '-mt-5 md:mt-10' : 'mt-5'"
    >
      <p
        class="text-[14px] text-black/30 font-bold"
        [class.hidden]="isCollapsed"
      >
        Painel Principal
      </p>

      <MenuButton
        [buttonText]="isCollapsed ? '' : 'Pagina principal'"
        [icon]="LayoutDashboard"
        [routerLink]="['/index']"
        [isCollapsed]="isCollapsed"
        (click)="isMobile && toggleSidebar()"
      ></MenuButton>

      <MenuButton
        [buttonText]="isCollapsed ? '' : 'Agendamentos'"
        [icon]="NotbookText"
        routerLink="/agendamentos"
        [isCollapsed]="isCollapsed"
        (click)="isMobile && toggleSidebar()"
      ></MenuButton>

      <MenuButton
        [buttonText]="isCollapsed ? '' : 'Financeiro'"
        [icon]="WalletCardsIcon"
        routerLink="/financeiro"
        [isCollapsed]="isCollapsed"
        (click)="isMobile && toggleSidebar()"
      ></MenuButton>

      <footer
        class="flex items-baseline justify-baseline mt-auto mb-16 md:mb-7"
      >
        <MenuButton
          class="w-full"
          [buttonText]="isCollapsed ? '' : 'Sair'"
          [icon]="LogOut"
          routerLink="/index"
          [isCollapsed]="isCollapsed"
          (click)="isMobile && toggleSidebar()"
        ></MenuButton>
      </footer>
    </nav>
  </aside>
</main>