<!-- Modal -->
<div
  class="fixed inset-0 bg-black/5 flex items-center justify-center z-50"
  (click)="closeModal()"
>
  <!-- Conteudo -->
  <div
    class="bg-white p-8 flex flex-col rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.25)] w-auto"
    (click)="$event.stopPropagation()"
  >
    <div>
      <IconHeader [Icon]="Trash" Title="Deseja deletar esta anotação ?"></IconHeader>
      <div class="flex justify-center gap-2">
        <button
        class="px-4 py-2  rounded-lg text-black/60 font-medium border border-black/10 "
        (click)="closeModal()"
      >
        Cancelar
      </button>
        <button
          class="px-4 py-2  rounded-lg text-black/60 font-medium border border-black/10 hover:bg-red-500/70"
          (click)="deleteNotion()"
        >
          Deletar
        </button>
      </div>
    </div>
  </div>
</div>
